<table border="1">
  <tr>
  <th>Title</th>
    <th>Price</th>
  </tr>
<div class="listing">
      <% @products.each do |product| %>
        <div>
     <tr> <td><%= product.title %> </td>
           <td> <%= product.price %>  </td></tr>
        </div>
     <% end %>
</div>
<%= will_paginate @products %>